body {
  font-family: 'Inter', sans-serif;
}

table {
  width: 800px;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

p {
  margin: 6px;
}
